.clients {
  background: #f3f9fd;
  padding: 10px 0;
  text-align: center;
}
.clients .col-lg-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients img {
  width: 100px !important;
  filter: grayscale(100);
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 10px 0;
}
.clients img:hover {
  cursor: pointer;
  filter: none;
  transform: scale(1.1);
}

/* media queries  */

@media (max-width: 768px) {
  .clients img {
    width: 40% !important;
  }
}
@media (max-width: 575px) {
  .clients img {
    width: 30% !important;
  }
}
